/* .audio-player{
    border: 1px solid rgb(255, 255, 255);
    margin-left: 20px;
    box-shadow: 2px 2px 2px rgb(130, 165, 125);
    background-color: rgb(235, 225, 206);
    border-radius: 5px 5px 5px 5px;

}
.audio-player img{
    width: 70px;
    height:70px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}
.audio-block
{
    display: flex;
    overflow: auto;
  white-space: nowrap;

}
@media screen and (max-width:600px){

} */

*::selection {
    background-color: unset;
}
.player {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
    height: 230px;
    border-radius: 15px;
    background: linear-gradient(rgb(255, 253, 253), rgb(240, 230, 230));
    box-shadow: 0 2px 2px 0 grey;
    border: 1px solid rgb(151, 151, 151);
    
}
.player input[type="range"] {
    -webkit-appearance: none !important;
    margin: 0px;
    padding: 0px;
    background: #f2eae4;
    height: 5px;
    width: 50px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}
.player input[type="range"]::-ms-fill-lower {
    background: #f2eae4;
}
.player input[type="range"]::-ms-fill-upper {
    background: #f2eae4;
}
.player input[type="range"]::-moz-range-track {
    border: none;
    background: #f2eae4;
}
.player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ff3677;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 100vw #f7d9b9;
}
.player input[type="range"]::-moz-range-thumb {
    background: #ff3677;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}
.player input[type="range"]::-ms-thumb {
    -webkit-appearance: none !important;
    background: #ff3677;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}
.player .cover {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px 0 #d56c00 6d;
}
.player .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player .info {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    text-align: center;
    
}
.player .info .title {
    font-size: 20px;
    font-weight: lighter;
    color: #444;
    
}
.player .info .singer {
    font-size: 12px;
    color: #72646f;
}
.player .btn-box {
    position: absolute;
    top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.player .btn-box i {
    font-size: 24px;
    color: #72646f;
    margin: 0 30px;
    cursor: pointer;
}
.player .btn-box i.active {
    color: #ff3677;
}
.player .volume-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 1;
    padding: 0 20px;
}
.player .volume-box .volume-down {
    position: absolute;
    left: -15px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #72646f;
}
.player .volume-box .volume-up {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #72646f;
}
.player .volume-box .volume-up::selection {
    background-color: unset;
}
.player .volume-box input[type="range"] {
    height: 5px;
    width: 150px;
    margin: 0 0 15px 0;
}
.player .volume-box.active {
    display: block;
}
.player .music-box {
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
}
.player .music-box input[type="range"] {
    height: 5px;
    width: 230px;
    margin: 0 0 10px 0;
}
.player .music-box input[type="range"]::-webkit-slider-thumb {
    height: 5px;
    width: 7px;
}
.player .music-box .current-time {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #72646f;
}
.player .music-box .duration {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #72646f;
}
.player .music-box .play, .player .music-box .pause {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff6e7;
    cursor: pointer;
    transition: all 0.4s;
}
.player .music-box .play i, .player .music-box .pause i {
    font-size: 36px;
    color: #72646f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-48%, -50%);
}
.player .music-box .pause i {
    font-size: 32px;
    transform: translate(-50%, -50%);
}
#lineAudio{
    
    width: 50px;
}
.audio-slider
{
    font-family: Arial;
    width: 500px;
    display: block;
    margin: 0 auto;
    height: 360px;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    /* border: 1px solid black; */
    margin-top:-60px;
}
#logo-nav
{
}
/* This is the login pop  */

/* This is the login pop */